nav {
    z-index: 10;
    height: 56px;
}

.iframe-style {
    width: 100%;
    height: 100%;
    border: none;
}

.no-margin-bot {
    margin-bottom: 0px;
}

.no-margin-top {
    margin-top: 0px !important;
}

.no-padding-top {
    padding-top: 0px !important;
}

.text-underline {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid red;
}

.chinese-fonts {
    font-family: "微軟正黑體", "黑體-繁";
}

.jssocials-share-link {
    border-radius: 50%;
}

.share-panel {
    margin: 0.5rem 0 1rem 0;
    padding: 5px 0px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.collection {
    border: 0;
}

.preloader-wrapper {
    bottom: 86%;
}

a[id^='check-login-button'] {
    width: 170px;
}

.logo {
    width: 50px;
    height: auto;
    margin: 10px;
}

.center {
    margin: 5px 0px;
}

.progress {
    height: 16px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgb(251, 242, 209);
}

.progress .determinate {
    color: #5A4F27;
    padding-right: 9px;
    background-color: #FFE279;
}

.collection .collection-item {
    padding: 15px 20px;
    font-size: 1.2em;
}

div[id^='old-member'] a {
    width: 100%;
    margin-bottom: 5px;
}

section#why {
    color: #5C5C5C;
    padding: 20px 0px;
}

section#why h2 {
    padding: 30px 0px 10px 0px;
    font-size: 3em;
    font-weight: 300;
}

section#why blockquote {
    font-size: 1.1em;
    border-left: 5px solid #ff8042;
    /*26A69A*/
    font-weight: 300;
}

section#why .btn-large {
    color: #5c5c5c;
    width: 100%;
    margin-bottom: 5px;
}

section {
    background-color: #fff;
}

section#how,
section#who,
section#FQ {
    background-color: #FFF8DA;
    /*#EDEDED*/
}

section#how .content {
    font-size: 1.1em;
    padding: 19px 40px;
    color: #5C5C5C;
}

section#how .how-login-container {
    padding-top: 30px;
}

section#how .step-button {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 37px;
    height: 37px;
    line-height: 37px;
    padding: 0;
    background-color: #ff8042;
    /*26a69a*/
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
}

section#how .center {
    right: 21px;
    bottom: 10px;
}

section#how h5 {
    font-size: 25px;
}

section h2.header {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    padding-top: 10px;
    margin-bottom: 0px;
}

section#how .section {
    border-left: 4px dashed #ffb814;
    /*dotted #009688 4px*/
}

section#how .container,
section#who .container,
section#partner .container,
section#FQ .container,
section#famous {
    padding: 20px 5px 50px 5px;
}

section#how .third .content {
    padding-bottom: 0px;
}

section#how .section {
    margin-top: 2rem;
    padding: 0px;
}

h1.header {
    font-size: 3.5rem;
}

.who-content {
    margin: 10px 0px;
    color: #5C5C5C;
    font-size: 1.1em;
}

#partner img {
    max-height: 70px;
    max-width: 220px;
    margin: 0px 5px;
}

#partner-container {
    text-align: center;
}

.img-container {
    padding-top: 10px;
    float: none;
    text-align: center;
}

#FQ ul li {
    font-size: 1.1em;
}

#FQ .collapsible-body {
    background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 600px) {
    .valign-wrapper .col {
        padding: 0 0.2rem;
    }
    .row .col .face {
        float: none;
        text-align: center;
    }
    .btn-floating.btn-large {
        width: 40px;
        height: 40px;
        margin: 2px;
    }
    .btn-floating.btn-large i {
        line-height: 40px;
    }
}

@media (max-width: 768px) {
    h1.header {
        font-size: 3rem;
    }
}

hr {
    border: #ff8042 solid 2px;
    margin-bottom: 30px;
}

ul li {
    color: #5C5C5C;
}

.testimonials .testimionals-avatar {
    border-radius: 1000px;
    height: 100px;
    width: 100px;
}

.testimonials .testimionals-content:before,
.testimonials .testimionals-content:after {
    content: '“';
    font-size: 20px;
    line-height: 16px;
}

.testimonials .testimionals-content:after {
    content: '”';
}

.testimionals-content,
.testimionals-author {
    font-size: 1.1em;
    padding: 5px 0px 0px 20px;
    color: #5C5C5C;
}

.col.l6.testimionals-testimional {
    padding-top: 10px;
}


/* ---- reset ---- */

canvas {
    display: block;
    vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 2%;
    background-position: 50% 50%;
}


/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

.cd-top {
    z-index: 100;
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(8, 10, 10, 0.69) url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.cd-top:hover {
    background-color: #ffb814;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

.amber-text.text-lighten-2 {
    color: rgb(255, 248, 218) !important;
}

.teal {
    background-color: #ff8042 !important;
}

.teal-text {
    color: #444 !important;
}

div#old-member a {
    background-color: rgba(255, 0, 0, 0) !important;
    /* color: rgba(0, 0, 0, 0.87); */
    border: 1px solid;
}

nav ul a,
nav .brand-logo {
    color: #444;
    line-height: 57px;
}

nav.white {
    position: fixed;
    border-top: 5px solid #ff9d54;
    /*background-color: #FFF8DA !important;*/
}

.collection a.collection-item {
    color: #444;
}

.dropdown-content li > a,
.dropdown-content li > span {
    color: #444;
}

.blue-grey.lighten-3 {
    background-color: #FFF8DA !important;
}

[type="checkbox"]:checked + label:before {
    border-right: 2px solid #FBD465;
    border-bottom: 2px solid #FBD465;
}

[type="radio"]:checked + label:after {
    border: 2px solid #FBD465;
    background-color: #FBD465;
}

.btn-floating {
    background-color: #FFCD43;
}

.btn-floating:hover {
    background-color: #FFCD43;
}

.container.fix-slider {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    z-index: 2;
    /* box-shadow: 0 2px 3px rgba(0,0,0,.1); */
    /* -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.1); */
    /*-moz-box-shadow: 0 2px 3px rgba(0,0,0,.1);*/
}

.row.slider-row {
    margin: 0px .5em 4px .5em;
}

@media only screen and (min-width: 768px) {
    .row.slider-row {
        margin: 0px 15% 4px 15%;
    }
}

#landingPage,
#subscribingPage,
#questionairePage,
#thankPage {
    padding-top: 56px;
}
