nav {
    z-index: 10;
}

.iframe-style {
    width: 100%;
    height: 500px;
    border: none;
}

.no-margin-bot {
    margin-bottom: 0px;
}

.no-margin-top {
    margin-top: 0px !important;
}

.no-padding-top {
    padding-top: 0px !important;
}

.text-underline {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid red;
}

.chinese-fonts {
    font-family: "微軟正黑體", "黑體-繁";
}

.jssocials-share-link {
    border-radius: 50%;
}

.share-panel {
    margin: 0.5rem 0 1rem 0;
    padding: 5px 0px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.collection {
    border: 0;
}

.preloader-wrapper {
    bottom: 86%;
}

a#check-login-button {
    width: 170px;
}

.logo {
    width: 50px;
    height: auto;
    margin: 10px;
}

.center {
    margin: 5px 0px;
}

.progress {
    height: 16px;
    font-size: 12px;
    border-radius: 4px;
}

.progress .determinate {
    color: white;
    padding-right: 9px;
    background-color: #3FB8AF;
}

.collection .collection-item {
    padding: 15px 20px;
    font-size: 1.2em;
}

#old-member a {
    width: 100%;
    ;
    margin-bottom: 5px;
}

section#why {
    color: #5C5C5C;
    padding: 20px 0px;
}

section#why h2 {
    padding: 30px 0px 10px 0px;
    font-size: 3em;
    font-weight: 300;
}

section#why blockquote {
    font-size: 1.1em;
    border-left: 5px solid #26A69A;
    font-weight: 300;
}

section#why .btn-large {
    color: #5c5c5c;
    width: 100%;
    margin-bottom: 5px;
}

section {
    background-color: #fff;
}

section#how,
section#who,
section#FQ {
    background-color: #EDEDED;
}

section#how .content {
    font-size: 1.1em;
    padding: 19px 40px;
    color: #5C5C5C;
}

section#how .step-button {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 37px;
    height: 37px;
    line-height: 37px;
    padding: 0;
    background-color: #26a69a;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
}

section#how .center {
    right: 21px;
    bottom: 10px;
}

section#how h5 {
    font-size: 25px;
}

section h2.header {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    padding-top: 10px;
    margin-bottom: 0px;
}

section#how .section {
    border-left: 4px dashed #009688;
}

section#how .container,
section#who .container,
section#partner .container,
section#FQ .container,
section#famous {
    padding: 20px 5px 50px 5px;
}

section#how .third .content {
    padding-bottom: 0px;
}

section#how .section {
    margin-top: 2rem;
    padding: 0px;
}

h1.header {
    font-size: 3.5rem;
}

.who-content {
    margin: 10px 0px;
    color: #5C5C5C;
    font-size: 1.1em;
}

#partner img {
    max-height: 70px;
    max-width: 220px;
    margin: 0px 5px;
}

.img-container {
    padding-top: 10px;
    float: none;
    text-align: center;
}

#FQ ul li {
    font-size: 1.1em;
}

@media (max-width: 600px) {
    .row .col .face {
        float: none;
        text-align: center;
    }
}

@media (max-width: 768px) {
    h1.header {
        font-size: 3rem;
    }
}

hr {
    border: #26A69A solid 2px;
    margin-bottom: 30px;
}

ul li {
    color: #5C5C5C;
}

.testimonials .testimionals-avatar {
    border-radius: 1000px;
    height: 100px;
    width: 100px;
}

.testimonials .testimionals-content:before,
.testimonials .testimionals-content:after {
    content: '“';
    font-size: 20px;
    line-height: 16px;
}

.testimonials .testimionals-content:after {
    content: '”';
}

.testimionals-content,
.testimionals-author {
    font-size: 1.1em;
    padding: 5px 0px 0px 20px;
    color: #5C5C5C;
}

.col.l6.testimionals-testimional {
    padding-top: 10px;
}


/* ---- reset ---- */

canvas {
    display: block;
    vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 2%;
    background-position: 50% 50%;
}


/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(8, 10, 10, 0.69) url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.cd-top:hover {
    background-color: #52BF57;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}
