nav ul a,
nav .brand-logo {
    color: #444;
    line-height: 48px;
}

nav.white {
    border-top: 7px solid #f9c003;
}

nav a.button-collapse i {
    line-height: 50px;
}

.iframe-style {
    width: 100%;
    height: 100%;
    border: none;
}

.no-margin-bot {
    margin-bottom: 0px;
}

.no-margin-top {
    margin-top: 0px !important;
}

.no-padding-top {
    padding-top: 0px !important;
}

.text-underline {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid red;
}

.chinese-fonts {
    font-family: "微軟正黑體", "黑體-繁";
}

.jssocials-share-link {
    border-radius: 50%;
}

.share-panel {
    margin: 0.5rem 0 1rem 0;
    padding: 5px 0px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.preloader-wrapper {
    bottom: 86%;
}

a[id^='check-login-button'] {
    width: 170px;
}

.logo {
    width: 50px;
    height: auto;
    margin: 10px;
}

.center {
    margin: 5px 0px;
}

.progress {
    height: 16px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgb(251, 242, 209);
}

.progress .determinate {
    color: #5A4F27;
    padding-right: 9px;
    background-color: #FFE279;
}

.collection .collection-item {
    padding: 15px 20px;
    font-size: 1.2em;
}

div[id^='old-member'] a {
    width: 100%;
    margin-bottom: 5px;
}

section#why {
    color: #5C5C5C;
    padding: 20px 0px;
}

section#why h2 {
    padding: 30px 0px 10px 0px;
    font-size: 3em;
    font-weight: 300;
}

section#why blockquote {
    font-size: 1.1em;
    border-left: 5px solid #f9c003;
    /*26A69A*/
    font-weight: 300;
}

section#why .btn-large {
    color: #5c5c5c;
    width: 100%;
    margin-bottom: 5px;
}

section {
    background-color: #fff;
}

section#how,
section#who,
section#FQ {
    background-color: #FFF8DA;
    /*#EDEDED*/
}

section#how .content {
    font-size: 1.1em;
    padding: 19px 40px;
    color: #5C5C5C;
}

section#how .how-login-container {
    padding-top: 30px;
}

section#how .step-button {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 37px;
    height: 37px;
    line-height: 37px;
    padding: 0;
    background-color: #f9c003;
    /*26a69a*/
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
}

section#how .center {
    right: 21px;
    bottom: 10px;
}

section#how h5 {
    font-size: 25px;
}

h2.header {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    padding-top: 10px;
    margin-bottom: 0px;
    color: #292929;
}

section#how .section {
    border-left: 4px dashed #ffb814;
    /*dotted #009688 4px*/
}

section#how .container,
section#who .container,
section#partner .container,
section#FQ .container,
section#famous .container,
section#contact .container {
    padding: 20px 5px 50px 5px;
}

section#how .third .content {
    padding-bottom: 0px;
}

section#how .section {
    margin-top: 2rem;
    padding: 0px;
}

h1.header {
    font-size: 3.5rem;
}

.who-content {
    margin: 10px 0px;
    color: #5C5C5C;
    font-size: 1.1em;
}

#partner img {
    max-width: 100%;
    margin: 5px;
}

#partner-container {
    text-align: center;
}

.img-container {
    padding-top: 10px;
    float: none;
    text-align: center;
}

#FQ ul li {
    font-size: 1.1em;
}

#FQ .collapsible-body {
    background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 600px) {
    .valign-wrapper .col {
        padding: 0 0.2rem;
    }
    .row .col .face {
        float: none;
        text-align: center;
    }
    .btn-floating.btn-large {
        width: 40px;
        height: 40px;
        margin: 2px;
    }
    .btn-floating.btn-large i {
        line-height: 40px;
        font-size: 1.8em;
    }
    form#bountyForm .btn-large {
        width: 45px;
        /*padding: 0px 12px;*/
    }
}

@media (max-width: 768px) {
    h1.header {
        font-size: 3rem;
    }
}

hr {
    border: #f9c003 solid 2px;
    margin-bottom: 30px;
}

ul li {
    color: #5C5C5C;
}

.testimonials .testimionals-avatar {
    border-radius: 1000px;
    height: 100px;
    width: 100px;
}

.testimonials .testimionals-content:before,
.testimonials .testimionals-content:after {
    content: '“';
    font-size: 20px;
    line-height: 16px;
}

.testimonials .testimionals-content:after {
    content: '”';
}

.testimionals-content,
.testimionals-author {
    font-size: 1.1em;
    padding: 5px 0px 0px 20px;
    color: #5C5C5C;
}

.col.l6.testimionals-testimional {
    padding-top: 10px;
}


/* ---- reset ---- */

canvas {
    display: block;
    vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 2%;
    background-position: 50% 50%;
}


/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

.cd-top {
    z-index: 100;
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 1.5em;
    right: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(8, 10, 10, 0.69) url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.cd-top:hover {
    background-color: #000;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 20px;
    }
}

.amber-text.text-lighten-2 {
    color: rgb(255, 248, 218) !important;
}

.teal {
    background-color: #f9c003 !important;
}

.teal-text {
    color: #444 !important;
}

div#old-member a,
div#check-login a,
div#new-member a,
div#before-login a {
    background-color: rgba(255, 0, 0, 0) !important;
    border: 2px solid;
    border-radius: 0px;
}

.collection a.collection-item {
    color: #444;
}

.dropdown-content li > a,
.dropdown-content li > span {
    color: #444;
}

.blue-grey.lighten-3 {
    background-color: #FFF8DA !important;
}

[type="checkbox"]:checked + label:before {
    border-right: 3px solid #D06545;
    border-bottom: 3px solid #D06545;
}

[type="radio"]:checked + label:after {
    border: 3px solid #D06545;
    background-color: #D06545;
}

input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #D06545;
    box-shadow: 0 1px 0 0 #D06545;
}

.btn-floating {
    background-color: #FFCD43;
}

.btn-floating:hover {
    background-color: #FFCD43;
}

.container.fix-slider {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}

#modalArticle .fix-slider {
    /*    width: 100%;
    background-color: white;
    position: fixed;
    top: 2px;
    padding: 10px;*/
    z-index: 1;
    top: 0px;
    padding: 15px 20px;
    width: 100%;
    background-color: white;
    position: fixed;
    /*height: 11em;*/
}


/*#modalArticle .row.slider-row {
    margin: 0px;
}
*/

#modalArticle.modal {
    bottom: 50px;
    background-color: #fff;
}

#modalArticle article {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    /* can use left: 0; right: 0; as well */
}

#modalArticle article .modal-content {
    position: absolute;
    top: 11em;
    bottom: 0em;
    width: 100%;
    /* can use left: 0; right: 0; as well */
    margin-bottom: 1em;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#modalArticle {
    width: 55%;
}

#modalArticle.modal .modal-content {
    padding: 0px;
}

@media only screen and (max-width: 992px) {
    #modalArticle.modal {
        width: 80%;
    }
}

.row.slider-row {
    margin: 0px .8em 4px .8em;
}

@media only screen and (min-width: 768px) {
    .row.slider-row {
        margin: 0px 15% 4px 15%;
    }
}

#landingPage,
#subscribingPage,
#questionairePage,
#thankPage {
    /*padding-top: 56px;*/
}

#thankPage {
    padding-bottom: 45px;
}


/*page preloader*/

.preloader,
.preloader_button {
    /*position: fixed;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    /*z-index: 13000;*/
    height: 100%;
}

.preloader_image,
.preloader_button_image {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(../img/preloader.svg) no-repeat 50% 50% transparent;
    margin: -40px 0 0 -40px;
}

.select-wrapper {
    margin-bottom: 15px;
}

.modal {
    max-height: 75%;
}

.collection,
.box {
    border: solid;
    margin-top: 30px;
}

#sidenav-overlay {
    z-index: 1;
}

@media only screen and (min-width: 601px) {
    nav ul a,
    nav .brand-logo {
        line-height: 56px;
    }
    nav ul.right li a {
        height: 57px;
    }
    nav a.button-collapse i {
        line-height: 56px;
    }
    .container.fix-slider {
        top: 60px;
    }
}

.brand-logo-text {
    background-image: url(../img/ico/appledaily_icon_white.svg);
    background-size: 1.2em auto;
    background-position: 0 44%;
    background-repeat: no-repeat;
    padding-left: 1.3em;
    display: block;
}
.banner-logo-black{
    width: 60%;
}
@media (max-width: 500px) {
    .brand-logo-text {
        text-indent: -999px;
    }
    .banner-logo-black{
        width: 100%;
    }
}
#FQ .collapsible-header{
    padding: 0 2rem;
}
#FQ .collapsible-header i{
    width: 0;
}

.close-cross {
    color: #666;
    font: 1.5rem arial, sans-serif;
    position: absolute;
    right: 1rem;
    text-decoration: none;
    top: 1rem;
    z-index: 20;
}
.close-cross:after{
    content: 'X';
}
#modalArticle .close-cross{
    font: 1rem;
    right: 20px;
    top: 15px;
}
