/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
    background: #048E81;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-color: #fff;
}

nav ul a,
nav .brand-logo {
    color: #444;
}

form p {
    margin: 0px;
}

h5 {
    font-size: 1.35rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
    padding: 10%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 0%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
    padding-top: 0;
}

.subscribe-check-container {
    padding: 25px 0px;
}

.subscribe-check-container label {
    font-size: 1.64rem;
    color: rgba(0, 0, 0, 0.87);
}

.subscribe-check-container label span,
.header span {
    display: block;
    font-size: 16px;
    padding: 10px 0px;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.2em;
}

#questionairePage .section {
    padding: 0px;
}

.select-wrapper input.select-dropdown {
    margin: 0;
    height: 2rem;
    line-height: 1.5rem;
}

.select-wrapper span.caret {
    top: 3px;
}

.dropdown-content li > a,
.dropdown-content li > span {
    padding: 9px 16px;
}

.dropdown-content li {
    min-height: 30px;
}
